@font-face {
  font-display: swap;
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/static/HankenGrotesk-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/static/HankenGrotesk-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/static/HankenGrotesk-ExtraBold.woff2')
    format('woff2');
}

:root {
  --white: #ffffff;
  --black: #000000;
  --yellow-50: #fffbf4;
  --yellow-400: #ffb21e;
  --red-50: #fff6f6;
  --red-400: #ff5555;
  --green-50: #f2fcf9;
  --green-500: #00bb8f;
  --blue-50: #f3f4fd;
  --blue-800: #1125d6;
  --navy-50: #ecf2ff;
  --navy-200: #cac9ff;
  --navy-950: #303b59;
  --text-preset-1-font-size: 4.5rem;
  --text-preset-1-line-height: 1;
  --text-preset-2-font-size: 3.5rem;
  --text-preset-2-line-height: 1;
  --text-preset-3-font-size: 2rem;
  --text-preset-3-line-height: 1.3;
  --text-preset-4-font-size: 1.5rem;
  --text-preset-4-line-height: 1.3;
  --text-preset-5-font-size-bold: 1.125rem;
  --text-preset-5-line-height-bold: 1.3;
  --text-preset-5-font-size-medium: 1.125rem;
  --text-preset-5-line-height-medium: 1.3;
  --text-preset-6-font-size-bold: 1rem;
  --text-preset-6-line-height-bold: 1.3;
  --text-preset-6-font-size-medium: 1rem;
  --text-preset-6-line-height-medium: 1.3;
}

body,
p {
  margin: 0;
}

body {
  font-family: 'Hanken Grotesk';

  @media (min-width: 48rem) {
    padding: 0 41px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue-50);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
